In [1]:
import pandas as pd

In [6]:
train = pd.read_csv("train.csv")

In [7]:
train.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_251,feature_252,feature_253,feature_254,feature_255,feature_256,label_1,label_2,label_3,label_4
0,-1.928826,-0.291540,1.105909,2.070652,0.657838,-0.670940,-0.968238,0.049916,1.111149,-1.834592,...,-0.691538,-1.152522,0.441157,-1.494434,-0.344974,-0.395641,45,NaN,1,6
1,-1.709277,-1.008998,0.956611,4.313823,-0.669455,1.928765,0.162550,0.152173,2.356505,-2.898549,...,-0.668235,-0.532695,0.151163,-1.876885,1.651534,-2.706490,45,NaN,1,6
2,-1.906183,-0.357562,-0.682627,4.651838,-0.884940,1.159512,1.354481,-1.432248,2.160144,-3.175735,...,-0.026728,0.440408,2.745906,-0.680754,-0.643588,-2.587203,45,NaN,1,6
3,0.697872,-2.218567,-0.572214,1.192062,0.329554,0.741364,0.962354,0.993512,2.896854,-1.600380,...,0.709032,0.812106,1.055266,-0.915258,-0.924856,-1.318964,45,NaN,1,6
4,-1.976895,-0.496308,0.368102,3.739787,-0.132058,1.234980,-0.501003,0.881554,1.630941,-3.853953,...,-0.599700,-1.024829,1.869753,-2.498570,3.268253,-1.356606,45,NaN,1,6

In [8]:
train.tail()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_251,feature_252,feature_253,feature_254,feature_255,feature_256,label_1,label_2,label_3,label_4
28515,-0.133276,1.000378,-0.429316,0.313957,3.004676,-0.430012,-1.406885,1.003829,2.446188,-1.267793,...,0.739990,-1.008707,0.876191,-0.219648,1.413330,-0.943048,39,29.0,1,6
28516,1.422285,-1.332320,-0.146487,0.261297,0.424878,-0.724837,0.751165,-1.497327,0.764382,-1.836306,...,-0.188780,0.362157,1.592062,-1.854311,1.864250,-2.102834,39,29.0,1,6
28517,1.133093,-0.632685,-0.055843,0.771494,1.286218,-0.022827,0.100600,0.701797,1.211175,-1.189144,...,1.118152,-2.058771,2.761125,0.410838,0.348411,-1.981375,39,29.0,1,6
28518,-0.994910,-0.621460,-0.205676,-0.684337,1.090212,-1.194920,-0.032449,-0.441138,1.198641,-2.830740,...,0.704228,-0.434955,1.891357,-1.680577,-0.767429,-1.770626,39,29.0,1,6
28519,0.822086,-0.889442,0.426469,-0.399815,1.169770,-0.998768,0.553559,2.042686,-0.366945,-0.074885,...,1.282738,-1.069872,3.129575,0.227182,0.606252,-3.646980,39,29.0,1,6

In [16]:
import numpy as np

In [17]:
train['label_2'].fillna(train['label_2'].mean(), inplace=True)

In [ ]:
train.dropna(subset=['label_4'], inplace=True)

In [18]:
train.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_251,feature_252,feature_253,feature_254,feature_255,feature_256,label_1,label_2,label_3,label_4
0,-1.928826,-0.291540,1.105909,2.070652,0.657838,-0.670940,-0.968238,0.049916,1.111149,-1.834592,...,-0.691538,-1.152522,0.441157,-1.494434,-0.344974,-0.395641,45,27.975107,1,6
1,-1.709277,-1.008998,0.956611,4.313823,-0.669455,1.928765,0.162550,0.152173,2.356505,-2.898549,...,-0.668235,-0.532695,0.151163,-1.876885,1.651534,-2.706490,45,27.975107,1,6
2,-1.906183,-0.357562,-0.682627,4.651838,-0.884940,1.159512,1.354481,-1.432248,2.160144,-3.175735,...,-0.026728,0.440408,2.745906,-0.680754,-0.643588,-2.587203,45,27.975107,1,6
3,0.697872,-2.218567,-0.572214,1.192062,0.329554,0.741364,0.962354,0.993512,2.896854,-1.600380,...,0.709032,0.812106,1.055266,-0.915258,-0.924856,-1.318964,45,27.975107,1,6
4,-1.976895,-0.496308,0.368102,3.739787,-0.132058,1.234980,-0.501003,0.881554,1.630941,-3.853953,...,-0.599700,-1.024829,1.869753,-2.498570,3.268253,-1.356606,45,27.975107,1,6

In [6]:
train.tail()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_251,feature_252,feature_253,feature_254,feature_255,feature_256,label_1,label_2,label_3,label_4
28515,-0.133276,1.000378,-0.429316,0.313957,3.004676,-0.430012,-1.406885,1.003829,2.446188,-1.267793,...,0.739990,-1.008707,0.876191,-0.219648,1.413330,-0.943048,39,29.0,1,6
28516,1.422285,-1.332320,-0.146487,0.261297,0.424878,-0.724837,0.751165,-1.497327,0.764382,-1.836306,...,-0.188780,0.362157,1.592062,-1.854311,1.864250,-2.102834,39,29.0,1,6
28517,1.133093,-0.632685,-0.055843,0.771494,1.286218,-0.022827,0.100600,0.701797,1.211175,-1.189144,...,1.118152,-2.058771,2.761125,0.410838,0.348411,-1.981375,39,29.0,1,6
28518,-0.994910,-0.621460,-0.205676,-0.684337,1.090212,-1.194920,-0.032449,-0.441138,1.198641,-2.830740,...,0.704228,-0.434955,1.891357,-1.680577,-0.767429,-1.770626,39,29.0,1,6
28519,0.822086,-0.889442,0.426469,-0.399815,1.169770,-0.998768,0.553559,2.042686,-0.366945,-0.074885,...,1.282738,-1.069872,3.129575,0.227182,0.606252,-3.646980,39,29.0,1,6

In [6]:
lbl1_train = train[train.columns.difference(['label_2', 'label_3', 'label_4'])]
lbl2_train = train[train.columns.difference(['label_1', 'label_3', 'label_4'])]
lbl3_train = train[train.columns.difference(['label_1', 'label_2', 'label_4'])]
lbl4_train = train[train.columns.difference(['label_1', 'label_2', 'label_3'])]

In [8]:
lbl1_train.head()

,feature_1,feature_10,feature_100,feature_101,feature_102,feature_103,feature_104,feature_105,feature_106,feature_107,...,feature_91,feature_92,feature_93,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99,label_1
0,-1.928826,-1.834592,-0.561062,1.288882,0.007298,-1.959675,-0.369679,-2.308890,1.933291,2.345499,...,1.027307,-0.205463,1.981341,-0.040033,3.619242,2.656304,-1.872129,-0.249165,0.624828,45
1,-1.709277,-2.898549,3.199044,1.277328,0.893767,-1.576606,1.194477,-2.610206,3.613216,0.478447,...,3.930109,-1.311740,2.775727,0.526598,-0.880184,2.924796,0.821211,0.850185,2.091304,45
2,-1.906183,-3.175735,3.755920,2.915744,0.961489,-0.878070,0.848214,-3.398119,3.475400,0.259692,...,2.896970,-0.896570,1.974495,2.178612,-1.375939,2.213216,1.404373,2.433293,-0.319931,45
3,0.697872,-1.600380,3.077389,0.425528,0.507760,0.794388,2.240674,-2.811054,3.066578,0.127980,...,2.584310,2.663827,0.562233,3.431591,-1.462717,2.903892,-0.561266,0.392949,-0.751579,45
4,-1.976895,-3.853953,2.033823,1.470852,0.588645,-0.805337,0.763817,-1.650925,3.496511,0.163278,...,2.848583,0.531060,2.169191,1.111356,-0.539192,3.916591,1.353440,2.879397,0.722490,45

In [2]:
test = pd.read_csv("test.csv")

In [4]:
test = test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])]

In [5]:
test.head()

,feature_1,feature_10,feature_100,feature_101,feature_102,feature_103,feature_104,feature_105,feature_106,feature_107,...,feature_90,feature_91,feature_92,feature_93,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99
0,-1.141206,-2.729526,-0.972009,0.580536,-0.115635,-1.060545,0.891455,-2.766417,2.061118,1.610883,...,-4.004905,0.933718,2.060720,2.774699,-0.303661,1.786763,2.831582,-1.136554,1.235363,1.902969
1,-1.796767,-3.461282,2.192923,2.805736,1.450816,-1.428263,-0.077756,-3.216417,3.504671,-0.096254,...,-2.213485,1.865848,0.487922,2.843604,1.927416,-1.154412,2.567402,0.766687,3.159991,0.387435
2,-1.388968,-3.081147,2.695518,0.815327,1.586289,-1.174928,0.801264,-1.502470,4.188352,-1.366310,...,-2.812993,2.253472,-0.271318,0.983235,1.238104,-0.637527,0.716910,-0.756478,2.857820,0.928647
3,1.276844,-1.714863,1.803796,1.784700,2.889847,0.434343,-0.837194,-1.697381,4.092119,0.647607,...,-2.816902,1.370667,1.439383,0.105901,0.526721,-0.115114,1.458338,-0.217736,1.451269,0.862430
4,-1.560815,-2.258071,1.701123,2.165399,0.240543,-0.597141,-0.173436,-2.190523,4.369282,0.300367,...,-2.939826,1.141104,0.972563,2.888189,1.834922,0.636656,2.573324,0.023985,0.696921,0.883026

In [8]:
lbl1_test = test[test.columns.difference(['label_2', 'label_3', 'label_4'])]
lbl2_test = test[test.columns.difference(['label_1', 'label_3', 'label_4'])]
lbl3_test = test[test.columns.difference(['label_1', 'label_2', 'label_4'])]
lbl4_test = test[test.columns.difference(['label_1', 'label_2', 'label_3'])]

In [9]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [10]:
def separate_dataset(df):
    X = df.iloc[:, :-1]
    y = df.iloc[:, -1]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    return X_train, X_test, y_train, y_test

def train_model(X_train, y_train):
    model = svm.SVC(random_state=42)
    model.fit(X_train, y_train)
    return model

def evaluate_model(model, X_train, X_test, y_train, y_test):
    print(f"Training score: {model.score(X_train, y_train)}")
    print(f"Testing score: {model.score(X_test, y_test)}")

def evaluate_model_detailed(model, X_test, y_test):
    y_pred = model.predict(X_test)

    print("Classification Report:")
    print(classification_report(y_test, y_pred))

    print("Confusion Matrix:")
    print(confusion_matrix(y_test, y_pred))

In [12]:
X_train, X_test, y_train, y_test = separate_dataset(lbl1_train)

In [13]:
model1 = train_model(X_train, y_train)

In [14]:
evaluate_model(model1, X_train, X_test, y_train, y_test)

Training score: 0.998641304347826
Testing score: 0.9921107994389902

In [1]:
evaluate_model_detailed(model1, X_test, y_test)

NameError: name 'evaluate_model_detailed' is not defined